<template>
  <div class="form-container">
    <input class="input" type="text" v-model="searchQuery" placeholder="Enter name..." @input="fetchUsers">
    <div class="card-container" v-if="users.length > 0">
      <div v-for="user in users" :key="user.id" class="card" style="width: 18rem; border: 3px solid #FFFF00; border-radius: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">
            <strong>Email:</strong> {{ user.email }}<br>
            <strong>Website:</strong> {{ user.website }}
          </p>
        </div>
      </div>
    </div>
    <div v-else-if="searchQuery.trim()">
      Такого користувача не існує в базі.
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchQuery: '',
      users: []
    };
  },
  methods: {
    async fetchUsers() {
      if (!this.searchQuery.trim()) {
        this.users = [];
        return;
      }
      try {
        const response = await fetch(`https://jsonplaceholder.typicode.com/users?_limit=10&name_like=${this.searchQuery}`);
        this.users = await response.json();
      } catch (error) {
        console.error('Error fetching users:', error);
      }
    }
  }
};
</script>

<style scoped>

.form-container {
  margin-left: 15px;
  margin-top: 15px;
}

.input {
  margin-bottom: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
}

</style>